
body {
  color: #333;
  font: medium/1.2 sans-serif;
  min-width: 28rem;
  max-width: 58rem;
  margin: 1rem auto;
  padding: 0 .8rem;
}

button {
  cursor: pointer;
  font-size: large;
  padding: .6rem 2rem;
}

label {
  display: block;
}

pre,
textarea {
  background: #e6e6e6;
  border: 1px solid #aaa;
  border-radius: .25rem;
  font-size: x-small;
  margin: 1.5rem 0;
  padding: .5rem;
}

textarea {
  font: large/1.5 sans-serif;
  margin: 0;
  width: 98%;
}

#log,
#result {
  font-size: medium;
}

#log {
  min-height: 10rem;
}

#result {
  background: #cfc;
}

.recognizer-error #result {
  background: #fcc;
}

#recognizer-status {
  background: red center/90% url(./microphone.svg) no-repeat;
  border-radius: 50%;
  /* cursor: help; */
  display: inline-block;
  height: 2.7rem;
  width: 2.7rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.recognizer-started #recognizer-status {
  background-color: #5f5;
}

.recognizer-started pre,
.recognizer-started p {
  cursor: wait;
}

.hide {
  display: none;
}
